[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv = "*"
numpy = "*"
cmake = "*"
dlib = "*"
face-recognition = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
